:root{
    --theme: ligh;
    --color: if(
    style(--theme: dark): white; else: black
    );
    --prime: rgb(50,50,255);
    --second: rgb(50,50,50);
    --error: rgb(255,100,0);
    --success: rgb(0,150,0);
    --x: min(1.5vh,1.5vw);
    --y: min(3vh,3vw);
    --z: min(4.5vh,4.5vw);
    --font-big: var(--z);
    --font-mid: var(--y);
    --font-min: var(--x);
    --font-fam: sans-serif;

}

body{
    padding: 0;
    margin: 0;
}
:not(h1,h2,h3,h4,h5,h6,span){
    font-size: var(--font-mid);
    font-family: var(--font-fam);
}
/*layout*/
.inline{display: inline;}
.block{display: block;}
flex, .flex{display: flex;}
grid, .grid{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}
.col-1{grid-column: span 1;}
.col-2{grid-column: span 2;}
.col-3{grid-column: span 3;}
.col-4{grid-column: span 4;}
.col-5{grid-column: span 5;}
.col-6{grid-column: span 6;}
.col-7{grid-column: span 7;}
.col-8{grid-column: span 8;}
.col-9{grid-column: span 9;}
.col-10{grid-column: span 10;}
.col-11{grid-column: span 11;}
.col-12{grid-column: span 12;}

/*alignment */
.left{justify-items: start;}
.center{justify-items: center;}
.right{justify-content: end;}

.self-left{justify-self: start;}
.self-center{justify-self: center;}
.self-right{justify-self: end;}

/*colors*/
.bg-prime{background: var(--prime);}
.bg-second{background: var(--second);}
.bg-error{background: var(--error);}
.bg-success{background: var(--success);}
.bg-white{background: white;}
.bg-black{background: black;}

.prime{color: var(--prime);}
.second{color: var(--second);}
.error{color: var(--error);}
.success{color: var(--success);}
.white{color: white;}
.black{color: black;}

/*link*/
a,a:hover, a:active, a:focus, a:visited{
    color: var(--prime);
    text-decoration: none;
    align-content: center;
    justify-content: center;
    outline: none;
    -webkit-tap-highlight-color: transparent;
}

/* buttons */
button{
    color: #fff;
    background: var(--prime);
    justify-content: center;
    align-content: center;
    padding: calc(var(--x)*0.5) var(--x);
    border: 0;
    border-radius: var(--x);
    margin: calc(var(--x)*0.25) calc(var(--x)*0.5);
}

/*inputs*/

input:not(input[type="submit"]){
    background: rgba(125, 125, 125, 0.2);
    padding: calc(var(--x)*0.5) var(--x);
    border: 0.5px solid var(--second);
    border-radius: var(--x);
    margin: var(--x) var(--x);
}
input:not(input[type="submit"]):focus
{outline:none;}
input:not(input[type="submit"])::placeholder
{color: rgb(from var(--color) r g b / .5);}

/* effects and animations*/
.pop:active{transform: scale(0.95);}
.fade:active{filter: brightness(2);}

.box,card,.card,glass,.glass
{
    --theme: inherit;
    --bg: if(style(--theme:dark): var(--second); else: white);
    --color: if(style(--theme:dark): white; else: black);
    display: block;
    background: var(--bg);
    color: var(--color);
    border-radius: var(--x);
    padding: var(--x);
    margin: 10px;  
    box-shadow: 0px 0px 20px -8px var(--color);
}

/*glass*/
.bg-glass,glass,.glass
{
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
}
.border-glass,glass,.glass
{border: 1px solid rgba(255, 255, 255, 0.2);}


/* card */
card, .card{
    width: auto;
    height: auto;
}
card :is(h1,h2,h3,h4,h5,h6),
.card :is(h1,h2,h3,h4,h5,h6){
    margin: 0;
    padding: 5px;
}
card content,
.card content{
    display: block;
    padding: 5px;
    border-top: 1px solid var(--color);
    font-size: var(--font-mid);
}