@import "./navbar.css";
@import "./button.css";
@import "./input.css";
@import "./card.css";
@import "./modal.css";
@import "./tab.css";
@import "./badge.css";

/* --- Links --- */
a, a:hover, a:active, a:focus, a:visited {
  color: var(--prime);
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

.divider {
  width: 100%;
  height: 1px;
  background: rgba(125, 125, 125, 0.2);
  margin: var(--x) 0;
  border: none;
}
/* --- Boxes, Cards & Glass --- */
.box, card, .card, glass, .glass {
  display: block;
  background: var(--surface);
  color: var(--color);
  border-radius: var(--x);
  padding: var(--x);
  margin: 10px;  
  box-shadow: 0px 4px 20px -4px rgba(0, 0, 0, 0.08);
}

/* Glass Variant */
.bg-glass, glass, .glass {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
}

.border-glass, glass, .glass {
  border: 1px solid rgba(255, 255, 255, 15);
}

