input:not([type="submit"]) {
  background: rgba(125, 125, 125, 0.2);
  padding: calc(var(--x) * 0.5) var(--x);
  border: 0.5px solid var(--second);
  border-radius: var(--x);
  margin: var(--x);
  font-size: var(--font-mid);
  color: inherit;
}

input:not([type="submit"]):focus {
  outline: none;
  border-color: var(--prime);
}

input:not([type="submit"])::placeholder {
  color: rgba(125, 125, 125, 0.7);
}