.switch {
  position: relative;
  display: inline-block;
  width: calc(var(--x) * 3.5);
  height: calc(var(--x) * 2);
  cursor: pointer;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.switch-slider {
  position: absolute;
  inset: 0;
  background-color: var(--second);
  border-radius: calc(var(--x) * 2);
  transition: background-color 0.2s ease;
}

.switch-slider::before {
  position: absolute;
  content: "";
  height: calc(var(--x) * 1.5);
  width: calc(var(--x) * 1.5);
  left: calc(var(--x) * 0.25);
  bottom: calc(var(--x) * 0.25);
  background-color: #fff;
  border-radius: 50%;
  transition: transform 0.2s ease;
}

.switch input:checked + .switch-slider {
  background-color: var(--prime);
}

.switch input:checked + .switch-slider::before {
  transform: translateX(calc(var(--x) * 1.5));
}
